*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #323261;
    color: white;
    text-align: center;
    height: 50px
}

.container{
    margin-top: 10px;
    display: flex;
    padding: 0 20px;
}

.container input[type=text]{
    flex: 1;
    padding: 0 20px;
    height: 40px;
}

.container input[type=submit]{
    background-color: #323261;
    color: white;
}

.lista-produto{
    margin-top: 20px;
}

.produto-single{
    
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
}

.produto-single h3{
    flex: 1;
}

.produto-single h3.price-produto{
    text-align: right;
}

.produto-single h3> span{
    background-color: #323261;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding: 8px 10px;
}

.soma-produto{
    margin: 20px;
}

.soma-produto h1{
    font-size: 26px;
    font-weight: bold;
}

.btn-limpar{
    flex: 1;
    padding: 0 20px;
    height: 40px;
}

.btn-limpar button{
    background-color: #323261;
    color: white;
    padding: 0 20px;
    height: 40px;
}